* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: black;
  font-family: "Arial", sans-serif;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #800080; /* Roxo profundo */
  font-size: 5rem;
  text-align: center;
  opacity: 0;
  text-shadow: 0 0 10px #800080, 0 0 20px #800080, 0 0 30px #800080; /* Efeitos de neon */
  animation: fadeIn 3s ease-out forwards;
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -40%) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  pointer-events: none;
}
